// Margin variable
$bottom-padding: 15em;

// Line height variable
$line-height: 2;

// Color variables
$light: #EFF0F3;
$dark: #0F0E17;
$accent: #FF8906;


// Button styles
@mixin button {
    background: transparent;
    font-size: 1.1em;
    color: $light;
    padding: 0.5em 2.5em;
    border: 0.2em solid $accent;
    border-radius: 0.25em;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
    transition: 0.15s ease;

    text-shadow: 0 0 0.1em rgb(230, 201, 201), 0 0 0.45em $accent;
    box-shadow: 0 0 0.5em 0 $accent, inset 0 0 0.2em 0 $accent;

    &::before {

        background-color: $accent;

        content: "";
        position: absolute;
        top: 120%;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        transition: 0.15s ease;
        
        transform: perspective(1em) rotateX(30deg) scale(1, 0.3);
        filter: blur(1em);
    }

    &:hover, &:focus {
        background-color: $accent;
    }

    &:hover::before, &:focus::before {
        opacity: 0.7;
    }
}