// Margin variable
$bottom-padding: 15em;

// Line height variable
$line-height: 2;

// Color variables
$light: #EFF0F3;
$dark: #0F0E17;
$accent: #FF8906;

// Map of themes
// $themes: (

//     light: (

//         page-bg: $light,
//         page-text: $dark,
//         lines: $dark,
//         button-bg: $accent,
//         button-shadow: $dark,

//     ),

//     dark: (

//         page-bg: $dark,
//         page-text: $light,
//         lines: $light,
//         button-bg: transparent,
//         button-shadow: $accent,

//     )

// );

// Generate map of styles for each theme
// @mixin themeGenerator($themes) {

//     @each $theme, $styles in $themes {

//         .theme-#{$theme} & {

//             $theme-map: () !global;

//             @each $property, $style in $styles {

//                 $value: map-get(map-get($themes, $theme), $property);

//                 $theme-map: map-merge($theme-map , ($property: $value) ) !global;

//             };

//             @content;
//             $theme-map: null !global;

//         };

//     };

// };

// Retrieve style property base on current theme
// @function getThemeStyle($property) {

//     @return map-get($theme-map, $property);

// };

// Button styles
@mixin button {

    // @include themeGenerator($themes) {
    //     background: getThemeStyle('button-bg');
    // }

    background: transparent;
    font-size: 1.1em;
    color: $light;
    padding: 0.5em 2.5em;
    border: 0.2em solid $accent;
    border-radius: 0.25em;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
    transition: 0.15s ease;

    text-shadow: 0 0 0.1em rgb(230, 201, 201), 0 0 0.45em $accent;
    box-shadow: 0 0 0.5em 0 $accent, inset 0 0 0.2em 0 $accent;

    &::before {

        background-color: $accent;

        content: "";
        position: absolute;
        top: 120%;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        // cursor: default;
        transition: 0.15s ease;
        
        transform: perspective(1em) rotateX(30deg) scale(1, 0.3);
        filter: blur(1em);
    }

    &:hover, &:focus {
        background-color: $accent;
    }

    &:hover::before, &:focus::before {
        opacity: 0.7;
    }
}