@import './variables';

.contact {
    padding: 0em 1em;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100svh;
    z-index: 9;
    transition: translate 0.4s;
}

.contact-paragraph {
    margin-bottom: 2em;
    font-size: 1.5em;
    line-height: $line-height;
}

.contact-icons {
    width: 100%;
}  

.contact-link:not(:last-child) {
        margin-right: 2em;
}

.contact-icon {
    color: $accent;
    font-size: 2em;
    transition: color 0.15s ease-in;

    &:hover {  
        color: $light;
    }
}

@media (max-width: 800px) {

    .contact-paragraph {
        font-size: 1em;
    }

}