@import './variables';

.contact {
    padding: 0em 1em;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.contact-paragraph {
    margin-bottom: 2em;
    line-height: $line-height;
}

.contact-icons {
    width: 100%;
}  

.contact-link:not(:last-child) {
        margin-right: 2em;
}

.contact-icon {
    color: $accent;
    font-size: 2em;
}