@import './variables';

.contact {
    padding: 0em 1em;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    // pointer-events: none;
}

.contact-paragraph {
    margin-bottom: 2em;
    line-height: $line-height;
}

.contact-icons {
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

// .contact-line {
//     height: 3px;
//     width: 15%;
//     background-color: $light;
// }

.contact-icon {
    color: $accent;
    font-size: 2em;
    // pointer-events: auto;

    &:not(:last-child) {
        margin-right: 1em;;
    }
}