@import './variables';

.accent-text {
    color: $accent;
    position: relative;
    text-shadow: 0 0 0.1em rgb(100, 98, 98), 0 0 0.45em $accent;
}

// Header section
.header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: 9; 
    height: 100svh;
    transition: translate 0.4s;
}


.header-flex-container {
    flex-direction: column;
    // align-items: flex-start;
    gap: 1.5em;
}

.header-heading {
    font-weight: 500;
    font-size: 3em;
    line-height: 1.2;
}

.subheading-container {
    flex-direction: column;
    gap: 1.5em;
}

.header-divider {
    height: 3px;
    width: 70%;
    background-color: $light;
}

.header-subheading {
    font-family: 'Lora', serif;
    font-size: 1.5em;
    line-height: 1.2;
}

@media (min-width: 800px) {

    .section-heading {
        font-size: 4em;
    }

    .header-flex-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .header-heading {
        font-size: 6em;
        line-height: 1.2;
    }

    .subheading-container {
        flex-direction: row;
        align-items: center;
        gap: 1em;
    }

    .header-divider {
        height: 300px;
        width: 3px;
    }

    .header-subheading {
        font-size: 3em;
        line-height: 1.2;
    }

}

@media (min-width: 1024px) {

    .header {
        max-width: 1000px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

}