@import './variables';

.container {
    @include themeGenerator($themes) {
        background-color: getThemeStyle('background');
        color: getThemeStyle('text');
    }
}

.accent-text {
    color: $accent;
}

.header {
    height: 100vh;
}

.header-divider {
    height: 50px;
    width: 2px;
    margin-left: 1em;
    // transform: rotate(90deg);

    @include themeGenerator($themes) {
        background-color: getThemeStyle('lines');
    }
}

.header-subheading {
    font-family: 'Lora', serif;
}

@media (min-width: 800px) {



}