@import './variables';

.theme-light {
    background-color: $light;
}

.theme-dark {
    background-color: $dark;
}

.container {
    @include themeGenerator($themes) {
        color: getThemeStyle('page-text');
    }

    margin: 0 auto;
    max-width: 65%;
    // border: 1px solid black;
}

.accent-text {
    color: $accent;
}

.header {
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}

.header-heading {
    font-weight: 500;
}

.button {
    @include button;
}

.header-divider {
    height: 50px;
    width: 2px;

    @include themeGenerator($themes) {
        background-color: getThemeStyle('lines');
    }
}

.header-subheading {
    font-family: 'Lora', serif;
    
}

@media (min-width: 800px) {

    .header-heading {
        font-size: 6em;
        line-height: 1.2;
    }

    .subheading-container {
        align-items: center;
        gap: 1em;
    }

    .header-subheading {
        font-size: 3em;
        line-height: 1.2;
    }

    .header-divider {
        height: 300px;
        width: 2px;
    }

}