@import './variables';

.project-image {
    // width: 500px;
    border-radius: 0.5em;
    width: 100%;
    margin-bottom: 1em;
}

.project-flex {
    justify-content: space-between;
}

.project-heading {
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 0.5em;
    display: inline-block;
}

.project-paragraph {
    line-height: $line-height;
    font-size: 0.9em;
    // text-align: left;
}

.project-links {
    display: inline-block;
}

.link {
    color: $accent;
    font-size: 1.2em;
    transition: color 0.15s ease-in;

    &:hover {
        color: $light;
    }

    &:not(:last-child) {
        margin-right: 0.5em;
    }
}

@media (max-width: 799px) {
    
    .project-links {
        display: flex;
        justify-content: center;
    }

}

@media (min-width: 1024px) {

    .project-image {
        width: 100%;
    }

    .project-heading {
        // font-size: 2.5em;
    }

}