.projects {
    padding: 5em 1em;
    z-index: 9;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 90%;
    transition: translate 0.4s;
}

.projects-grid {
    grid-template-columns: 1fr;
    gap: 4em;
}

@media (min-width: 1023px) {

    .projects {
        padding: 0 2em;
        justify-content: center;
        align-items: center;
        max-width: 1300px;
        height: 100svh;
    }

    .projects-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;
    }

}